@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;700;900&display=swap');

@layer components {

  ::selection {
    background: #e641008f;
  }

  ::-webkit-scrollbar {
    width: 0px;
  }

  firefox-scrollbar-fix {
    scrollbar-width: none;
  }

  html {
    background-color: #09090b;
  }
  
  body {
    background-color: #09090b;
  }
}

@layer base {
  html {
    font-family: Inter, system-ui, sans-serif;
  }
}


