@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Inter");

@layer components {
  #gradient-canvas {
    width: 100%;
    height: 100%;
    --gradient-color-1: #042234;
    --gradient-color-2: #032030;
    --gradient-color-3: #166a4e;
    --gradient-color-4: #093639;
    z-index: 0;
  }

  ::selection {
    background: #053853;
  }
}
